build/
*.o
*.obj
*.exe
crucible
crucible.exe
element_dungeon
element_dungeon.exe
crucible_save.dat
crucible_settings.dat
SDL2.dll
*.pdb
*.ilk
.vs/
scps_viewer
scps_viewer.exe
scps_dump
out_*.ppm
out_*.png
scps_batch
econ_demo
montage.bmp
